@import "../uniform/style";


.container {
    @include centerDiv(column);

    .sep {
        width: 80%;
        height: 1px;
        box-shadow: 0 0 3px 1px rgba($main, .7);
        margin: 15vmin 0;
        background-color: $main;
        position: relative;

    }
}